{% extends 'interface/site_base.html' %}
{% block title %}
Meniu
{% endblock %}
{% block content %}
<h1> Meniu </h1>
<h2 class="subtitle">{{subtitle}}</h2>
{% for item in items %}
<div id="item-container">
        <div id="item-container-left">
            <a href="/_ah/img/{{item.picture.photo}}" rel="lightbox">
                <img src="/_ah/img/{{item.picture.photo}}" title="{{ item.name }}"
            width=100px height=100px>
            </a>
            <a href="{% url process_buy id=item.id %}?next={{path}}">Adaugă in coș</a>
        </div>
            <div id="item-text">    
                <h2><center>{{ item.name }}</center></h2>
                <h3 class="price">Preț: {{item.price}} Lei</h3>
                {% for detail in item.details.all %}
                <h3>{{ detail.title }}</h3>
                <p>{{ detail.value }}</p>
                {% endfor %}
            </div>
    </div>
{% endfor %}
{% endblock %}
{% block left_content %}
<div id="left-command-container">
<div id="left-link">
    <a href={% url menus 'default' 0 %}>
            Întreg meniul
    </a>
</div>
{% for category in left_submenu %}
<div id="left-link">
    <a href={% url menus category.name 0 %}>{{category.name}}</a>
</div>
{% endfor %}
</div>
{% endblock %}
