<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>{{title}}</title>
        <link href="{{ basepath }}css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!--body start -->
        <div id="body">
            <div id="header">
                <div id="logo">
                    <img class="slide" src="{{basepath}}css/images/logo.jpg"
                    width="150px" height="250px">
                </div>
                <div id="slideshow">
                    <img class="slide" src="{{basepath}}css/images/test.jpg"
                    width="600px" height="250px">
                </div>
            </div>
            <!--left panel start -->
        </div>
    </body>
</html>

