<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>{{title}}</title>
        <link href="{{ basepath }}css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!--body start -->
        <div id="body">
            <div id="header">
                <div id="logo_center">
                    <img class="slide" src="{{basepath}}css/images/LogoText.png"
                    width="819px" height="152px">
                </div>
            </div>
            <div id="header">
                <div id="logo_left">
                    <img class="slide" src="{{basepath}}css/images/LionLeft.png"
                    width="200px" height="221px">
                </div> 
                <div id="logo_right">
                    <img class="slide" src="{{basepath}}css/images/LionRight.png"
                    width="200px" height="200px">
                </div>
                <div id="shield">
                    <img class="slide" src="{{basepath}}css/images/Shield.png"
                    width="200px" height="200px">
                </div>
            </div>
            <!--        i
            <div id="logo_center">
                <img class="slide" src="{{basepath}}css/images/LogoText.png"
                width="819px" height="152px">
            </div>
            <div id="header">
                <div id="shield">
                    <img class="slide" src="{{basepath}}css/images/Shield.png"
                    width="200px" height="200px">
                </div>
            </div>-->
            <div style="clear:both">
            </div>
            <div id="content-holder">
                <div id="decorator">&nbsp;</div>
                <div id="linkbar">
                    <ul>
                        <li><a href="{% url menus %}">Meniu</a></li>
                        <li><a href="{% url offers %}">Oferte</a></li>
                        <li><a href="{% url events %}">Evenimente</a></li>
                        <li><a href="{% url gallery %}">Galerie</a></li>
                        <li><a href="{% url contact %}">Contact</a></li>
                    </ul>
                </div>
                <div id="content">
                    <div id="left">
                        {% include "interface/left_link.html" %}
                    </div>
                    <div id="center">
                        <div id="center-container">
                            {% block content %}
                            {% endblock %}
                        </div>
<!--                            <div id="item-container">Meniu item1</div>
                            <div id="item-container">Meniu item2</div>
                        </div>
                        <div id="center-container2">
                            <div id="item-container">Meniu item3</div>
                            <div id="item-container">Meniu item4</div> 
                        </div>
                        <div id="center-container">
                            <div id="item-container">Meniu item5</div>
                            <div id="item-container">Meniu item6</div> 
                        </div>
                        <div id="center-container2">
                            <div id="item-container">Meniu item7</div>
                            <div id="item-container">Meniu item8</div> 
                        </div>
-->
                    </div>
                    <div id="right">
                        {% include "interface/auth_side.html" %}
                        {% include "interface/shopping_basket.html" %}
                    </div>
                </div>
                <div id="decorator">&nbsp;</div>
            </div>
            <!--left panel start -->
        </div>
    </body>
</html>

