{% extends 'cpanel/homepage.html' %}
{% block content %}
<h1><center> Istoric Comenzi </center></h1>
<table class=small>
    <tr>
        <th> Id Comandă </th>
        <th> Stare Comandă </th>
        <th> Timp </th>
        <th> Reprezentant </th>
        <th> Tel. Contact </th>
        <th> Persoană Juridică </th>
        <th> Valoare Comandă </th>
        <th> Detalii </th>
        {% if user.get_profile.is_worker or user.is_staff%}
        <th> Preia Comandă </th>
        <th> Trimite Comandă </th>
        <th> Livrat Comandă </th>
        <th> Anulează Comanda </th>
        {% endif %}
    </tr>
    {% for order in orders %}
    {% if order.status == 'Lansată' %}
    <tr class=red>
    {% endif %}
    {% if order.status == 'Preluată' %}
    <tr class=yellow>
    {% endif %}
    {% if order.status == 'Trimisă' %}
                <tr class=green>
    {% endif %}
    {% if order.status == 'Livrată' %}
    <tr>
    {% endif %}
        <td>{{order.id}}</td>
        <td>{{order.status}}</td>
        <td>{{order.timestamp}}</td>
        <td>{{order.buyer_person.first_name}} 
            {{order.buyer_person.last_name}}</td>
        <td>{{order.buyer_person.telephone}}</td>
        <td>
            {% if order.buyer_firm.name == 'bogus' %}
            -
            {% else %}
            {{order.buyer_firm.name}}
            {% endif %}
        </td>
        <td>{{order.total_price}}</td>
        <td><a href="{% url detail_order order.id %}">Detalii</a></td>
        {% if user.get_profile.is_worker or user.is_staff %}
            <td><a href="{% url change_order order.id 1 %}">Preia</a></td>
            <td><a href="{% url change_order order.id 2 %}">Trimite</a></td>
            <td><a href="{% url change_order order.id 3 %}">Livrat</a></td>
            <td><a href="{% url delete_something 'order' order.id %}">Anulează</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        {% if prev %}
        <td><a href="{% url view_orders page_b %}">Înapoi</td>
        {% endif %}
        {% if next %}
        <td><a href="{% url view_orders page_n %}">Înainte</td>
        {% endif %}
    </tr>
</table>
{% endblock %}

