{% extends 'cpanel/homepage.html' %}
{% block content %}
<h1><center>Meniu</center></h1>
{% if no_images %}
<p>Înainte de a putea adăuga elemente în meniu, trebuie adăugată cel puțin o
imagine în baza de date</p>
{% else %}
<table class=small>
    <tr>
        <th>Categorie</th>
        <th>Produs</th>
        <th>Preț</th>
        <th>Editare</th>
    </tr>
    <tr>
    {% for cat, items in menu.iteritems %}
    <td rowspan={{items|length}}>{{cat}}
        <br>
        <a href={% url delete_something 'category' cat.id %}>Șterge</a>
        <a href={% url edit_something 'category' cat.id %}>Modifică</a>
    </td>
        {% if not items %}
        <td colspan=3>Nici un produs asociat categoriei</td>
    </tr>
        {% endif %}
        {% for item in items %}
        <td> {{item}}</td>
        <td> {{item.price}} Lei</td>
        <td> <a href={% url edit_something 'item' item.id %}>Modifică</a> </td>
    </tr>
    <tr>
        {%endfor %}
    {%endfor%}
    </tr>
    <tr>
        {% if categories %}
        <td><a href={% url add_something 'category' %}>Adaugă categorie</a></td>
        <td colspan=3><a href={% url add_something 'item' %}>Adaugă preparat</a></td>
        {% else %}
        <td colspan=4><a href={% url add_something 'category' %}>Adaugă categorie</a></td>
        {% endif %}
    </tr>
</table>
{% endif %}
{% endblock %}
