/* CSS Document */

body{
	padding:0;
	margin:0;
	background:url(images/main_bg.jpg) 0 0 repeat;
	background-color:#191919;
	color:#000000;
}

div, h1, h2, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
}

.spacer{
	clear:both; 
	font-size:0px; 
	line-height:0px;
}
/*------------------------------------------------body---------------------*/

/*------------------------------------------------body part start---------------------*/
#body{
	width:1000px;
	margin:0 auto;
	padding:0 0 0 0;
/*	border-style: dashed;/*debug*/
/*	border-width:2px;/*debug*/
	float:center;
	overflow:visible;
}

#header{
	width:1000px;
	padding:0;
	margin:0 0 0 0;
/*	border-style: dotted; /*debug*/
/*	border-width:1px; /*debug*/
	float:left;
}

#logo_center{
	position:relative;
	width:819px;
	height:120px;
	top: 0px;
	z-index: 3;
	float:center;
	margin:0 auto;
}

#logo_left{
	position: relative;
	top: -15px;
	left:-100px;
	z-index: 3;
	width:200px;
	height:221px;
	float:left;
}

#logo_right{
	position: relative;
	top:-16px;
	left:715px;
	z-index: 3;
	margin:12px 0 0 0;
	width:200px;
	height:200px;
	float:left;
}

#shield{
	position:relative;
	top:-100px;
	left:490px;
	z-index:1;
	width:200px;
	height:200px;
	float:left;
}

#content-holder{
	position:relative;
	margin-top:-210px;
	width:1000px;
	z-index:2;
	box-shadow: 0px 0px 40px #000000;
	float: left;
	overflow:auto;
}

#decorator{
	top: 0px;
	width:1000px;
	position:relative;
	background-color:#005200;
	height:20px;
	z-index:2;
	float:left;
}

#linkbar{
	width:1000px;
	position:relative;
	background-color:#670000;
	height:40px;
	z-index:2;
	/*border:1px solid blue;;*/
	float:left;
}
#content{
	width:1000px;
	position: relative;
	background-color:#f4f4f4;
	float:left;
	min-height:300px;
	z-index:2;
}

/* navigation list */
#linkbar ul{
	float:center;
	width:585px;
	height:40px;
	padding:0 0 0 0;
	/*margin:0 0 0 0;*/
	margin:0 auto;
	overflow:visible;
}

#linkbar ul li{
	padding:0;
	margin:0;
	float:left;
}

#linkbar ul li a{
	display:block;
	background-color:#9E6E00;
         -webkit-transition: background-color 1000ms linear;
         -moz-transition: background-color 1000ms linear;
         -o-transition: background-color 1000ms linear;
         -ms-transition: background-color 1000ms linear;
         transition: background-color 1000ms linear;
/*	background:url(images/nav_bg.gif) 0 0 repeat-x #070707;*/
	padding:0 14px 0 14px;
	font:bold 20px/40px  "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	text-transform:uppercase;
	float:center;
	height:40px;
}
/*color scheme: http://colorschemedesigner.com/#0032wvCtdw0w0 */
#linkbar ul li a:hover{
	background-color:#CE9F34;
        -webkit-transition: background-color 1000ms linear;
        -moz-transition: background-color 1000ms linear;
        -o-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
	/*background:url(images/nav_hover.gif) 0 0 repeat-x #fffff1;*/
	padding:0 14px 0 14px;
	color:#fff;
	height:40px;
}

#linkbar ul li.home{
	margin:0;
	background:url(images/nav_hover.gif) 0 0 repeat-x #fffff1;
	height:25px;
	padding:0 13px 0 13px;
	font:bold 10px/25px  "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	float:left;
}

/*------------------------------------------------left part start---------------------*/
#left{
	width:159px;
	height:300px;
	padding:150px 0 0 0px;
	margin:0 0 0 0;
	float: left;
}

#command-container{
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
	width:140px;
	margin:5px 0 5px 5px;
	padding:5px 5px 5px 5px;
	font:bold 10px/10px "Trebuchet MS", Arial, Helvetica, sans-serif;
       	background-color:#444444;	
}
#command-container p.title{
	display:block;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:140px;
       	background-color:#970101;
	text-transform:uppercase;
	color:#fff;
	padding:5px 0px 5px 0px;
	font:bold 10px/10px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
}

#center-container{
	float:left;
	width:680px;
	height:140px;
	background-color:#F4F4F4;
	margin:0px 0px 0px 0px;
	border-top: 1px solid #FFFFFF;
}

#center-container2{
	float:left;
	width:680px;
	height:140px;
	background-color:#E4E4E4;
	margin:0px 0px 0px 0px;
	border-top: 1px solid #FFFFFF;
}
#item-container {
	width:330px;
	height:120px;
	padding:5px 5px 5px 5px;
	float:left;
}

#center{
	width:680px;
	min-height:450px;
	padding:0 0 0 0px;
	margin:0 0 0 0;
	float:left;
	overflow:auto;
	border-right:1px dashed #6e79d0;
	border-left:1px dashed #6e79d0;
}

#command-container input.full {
	width: 130px;
	float: left;
	margin: 2px 0 5px 0;
	border: 1px solid #CCC;
	padding: 0;
	padding: 3px 5px 3px 5px;
	color: #666;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#center p.yellowbig{
/*	display:block;
	width:445px;*/
	font:normal 30px/37px serif;
	color:#000000;
	/*background-color:#191919;*/
	padding:20px 0 20px 0;
	margin:0;
	/*float:left;*/
	text-align:center;
}

#center p.yellow{
	display:block;
	width:445px;
	font:normal 10px/17px Arial, Helvetica, sans-serif;
	color:#CFA100;
	background-color:#191919;
	text-transform:uppercase;
	padding:0 0 20px 0;
	margin:0;
	float:left;
}

#center p.grey1{
	width:452px;
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	color:#6E6E6E;
	background-color:#191919;
	text-transform:none;
	padding:0;
	margin:0;
	float:left;
}
#center p.grey2{
	width:452px;
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	color:#6E6E6E;
	background-color:#191919;
	text-transform:none;
	padding:0 0 11px 0;
	margin:0;
	float:left;
}
#center h3{
	display:block;
	width:434px;
	height:36px;
	background:url(images/bullet_red.gif) 0 12px no-repeat;
	padding:0 0 0 21px;
	margin:0;
	float:left;
}
#center h3 span{
	display:block;
	width:430px;
	height:36px;
	background:url(images/h3_div.gif) 0 0 repeat-x #191919;
	font:bold 12px/36px Arial, Helvetica, sans-serif;
	color:#C3C3C3;
	text-transform:uppercase;
}
#center h2{
	display:block;
	background:url(images/importaint_method.gif) 0 0 no-repeat;
	width:208px;
	height:27px;
	text-indent:-10000px;
	margin:0 0 12px 0;
	float:left;
}
#center ul.method{
	width:425px;
	padding:0;
	margin:0;
	float:left;
}
#center ul.method li{
	display:block;
	width:425px;
	height:24px;
	float:left;
	padding:0;
	margin:0;
}
#center ul.method li a{
	display:block;
	width:408px;
	height:24px;
	padding:0 0 0 17px;
	margin:0;
	background:url(images/arrow_yellow.gif) 0 8px no-repeat #191919;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	color:#969696;
	text-transform:none;
	text-decoration:underline;
	border:none;
}
#center ul.method li a:hover{
	background:url(images/arrow_yellow_hover.gif) 0 8px no-repeat #222222;
	color:#fff;
	text-decoration:none;
	padding:0 0 0 17px;
	height:24px;
	border:none;
}
/*------------------------------------------------left part end---------------------*/

/*------------------------------------------------right part start---------------------*/
#right{
	width:159px;
	height:300px;
	padding:150px 0 0 0px;
	margin:0 0 0 0;
	float: left;
}
/*------------------------------------------------right part end---------------------*/

/*------------------------------------------------body part end---------------------*/

/*------------------------------------------------footer start---------------------*/
#footer-main{
	width:100%;
	height:93px;
	background:url(images/footer_bg.gif) 0 0 repeat-x #191919;
	color:#B9B9B9;
	padding:63px 0 0 0;
	margin:13px 0 0 0;
	float:left;
}
#footer{
	width:778px;
	margin:0 auto;
	height:93px;
	position:relative;
}
#footer ul{
	width:380px;
	margin:0;
	padding:0;
	position:absolute;
	left:39px;
	top:17px;
}
#footer ul li{
	margin:0;
	float:left;
	font:bold 11px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#B9B9B9;
	background-color:#191919;
	background-image:none;
}
#footer ul li a{
	font:bold 11px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#B9B9B9;
	background-color:#191919;
	text-decoration:none;
	padding:0 10px 0 10px;
}
#footer ul li a:hover{
	color:#000;
	background-color:#CFA100;
}
#footer p.copyright{
	font:normal 11px/14px  "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#CFA100;
	background-color:#191919;
	position:absolute;
	left:49px;
	top:38px;
}
#footer a.xht{
	width:41px;
	height:11px;
	background:url(images/html_bg.gif) 0 0 no-repeat;
	position:absolute;
	left:607px;
	top:20px;
	margin:0;
}
#footer a.xht:hover{
	background:url(images/html_bg_hover.gif) 0 0 no-repeat;
}
#footer a.cs{
	width:41px;
	height:11px;
	background:url(images/css_bg.gif) 0 0 no-repeat;
	position:absolute;
	left:657px;
	top:20px;
	margin:0;
	float:left;
}

#footer a.cs:hover{
	background:url(images/css_bg_hover.gif) 0 0 no-repeat;
}
#footer p.design{
	display:block;
	width:162px;
	height:11px;
	padding:2px;
	position:absolute;
	left:46px;
	top:63px;
	font:bold 11px/11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#191919;
}
#footer p.design a.link{
	width:86px;
	font:bold 11px/11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#191919;
	text-decoration:none;
	text-transform:capitalize;
}
#footer p.design a.link:hover{
	color:#fff;
	background-color:#720000;
}
/*------------------------------------------------footer end---------------------*/
