/* CSS Document */

body{
	padding:0;
	margin:0;
	background:url(images/hrt_brick_wall_3.jpg) 0 0 repeat;
	background-color:#191919;
	color:#000000;
}

div, h1, h2, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
}

#spacer{
	clear:both; 
	font-size:0px; 
	line-height:0px;
}
/*------------------------------------------------body---------------------*/

/*------------------------------------------------body part start---------------------*/
#body{
	width:1000px;
	margin:0 auto;
	padding:0 0 0 0;
/*	border-style: dashed;/*debug*/
/*	border-width:2px;/*debug*/
	float:center;
	overflow:visible;
}

#header{
	width:1000px;
	padding:0;
	margin:0 0 0 0;
/*	border-style: dotted; /*debug*/
/*	border-width:1px; /*debug*/
	float:left;
}

#logo_center{
	position:relative;
	width:819px;
	height:120px;
	top: 0px;
	z-index: 6;
	float:center;
	margin:0 auto;
}

#logo_left{
	position: relative;
	top: -15px;
	left:-100px;
	z-index: 5;
	width:200px;
	height:221px;
	float:left;
}

#logo_right{
	position: relative;
	top:-16px;
	left:715px;
	z-index: 5;
	margin:12px 0 0 0;
	width:200px;
	height:200px;
	float:left;
}

#shield{
	position:relative;
	top:-100px;
	left:550px;
	z-index:4;
	width:200px;
	height:200px;
	float:left;
	background:url(images/Shield.png) 0 0;
}

#content-content-holder {
	z-index:1;
	margin-top:-210px;
	width:1000px;
	padding: 5px 5px 5px 5px;
	border-radius:3px;
	-moz-border-radius: 3px;
	background:url(images/BorderBG.png) 0 0 repeat;
	float: left;
	overflow:auto;
	box-shadow: 0px 0px 40px #000000;	
}
#content-content-holder2 {
	z-index:1;
	margin-top:-30px;
	margin-bottom: 5px;
	width:1000px;
	padding: 5px 5px 5px 5px;
	border-radius:3px;
	-moz-border-radius: 3px;
	background:url(images/BorderBG.png) 0 0 repeat;
	float: left;
	overflow:auto;
	box-shadow: 0px 0px 40px #000000;	
}

#content-holder{
	position:relative;
/*	margin-top:-210px;*/
	width:1000px;
	z-index:3;
	float: left;
	overflow:auto;
}



#decorator{
	top: 0px;
	width:1000px;
	position:relative;
	background-color:#005200;
	height:20px;
	z-index:2;
	float:left;
}
#decorator2{
	top: 0px;
	width:998px;
	position:relative;
	background:url(images/leaf.png) 0 0 repeat;
	border-radius:3px;
	-moz-border-radius: 3px;
/*	background-color:#005200;*/
	height:5px;
	z-index:2;
	float:left;
	border-top: 1px solid #004200;
	border-right: 1px solid #004200;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#linkbar{
	border-radius:3px;
	-moz-border-radius: 3px;
	width:998px;
	position:relative;
	background:url(images/cherrywood.jpg) 0 0 repeat;
	min-height:41px;
	z-index:2;
	border-top: 1px solid #4B0000;
	border-right: 1px solid #4B0000;
	border-left: 1px solid #430000;
	border-bottom: 1px solid #430000;
	/*border:1px solid blue;;*/
	float:left;
}

#content{
	width:998px;
	position: relative;
	/*background-color:#f4f4f4;*/
	float:left;
	min-height:150px;
	z-index:2;
	border-radius:3px;
	-moz-border-radius: 3px;
	background:url(images/parchment.png) 0 0 repeat;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #7d5225;
	border-right: 1px solid #7d5225;
}

/* navigation list */
#linkbar ul{
	width:580px;
	height:40px;
	padding:0 0 0 0;
	/*margin:0 0 0 0;*/
	margin:-19px;
	overflow:visible;
}

#linkbar ul li{
	padding:0;
	margin:0;
	float:left;
	max-width:150px;
}

#linkbar ul li a{
	display:block;
	border-radius:3px;
	-moz-border-radius: 3px;
	margin-right:3px;
	background-color:#9E6E00;
	background:url(images/gold.png) 0 0 no-repeat;
	background-size:100%;
	border-top: 1px solid #CE9E00;
	border-bottom: 1px solid #7A4A00;
	border-left: 1px solid #CE9E00;
	border-right: 1px solid #7A4A00;
/*	background:url(images/nav_bg.gif) 0 0 repeat-x #070707;*/
	padding:0 14px 0 14px;
	font:bold 20px/40px  "Trebuchet MS", Arial, Helvetica, serif;
	color:#752a2a;
	text-decoration:none;
	text-transform:uppercase;
	height:40px;
}
/*color scheme: http://colorschemedesigner.com/#0032wvCtdw0w0 */
#linkbar ul li a:hover{
	/*background:url(images/nav_hover.gif) 0 0 repeat-x #fffff1;*/
	padding:0 14px 0 14px;
	color:#fff;
	height:40px;
}

#linkbar ul li.home{
	margin:0;
	background:url(images/nav_hover.gif) 0 0 repeat-x #fffff1;
	height:25px;
	padding:0 13px 0 13px;
	font:bold 10px/25px  "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	float:left;
}

/*------------------------------------------------left part start---------------------*/
#left{
	width:159px;
	min-height:300px;
	padding:3px 0 0 0px;
	margin:0 0 0 0;
	float: left;
}
#left img.normal {
	width:159px;
	height:160px;
	float:left;
	margin:0px;
	padding:0px;

}
#left img.mask {
	display: block;
	width:160px;
	height:160px;
	margin-top:-160px;
	float:left;
	 -webkit-transform: rotate(180deg);
	 -moz-transform: rotate(180deg);
	 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}

#command-container{
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
	border:2px dashed #444444;
	width:133px;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	font:bold 10px/10px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#command-container p.title{
	display:block;
	border-bottom: 1px dashed #444444;
	width:131px;
/*      background-color:#970101;*/
	text-transform:uppercase;
	color:#000000;
	padding:5px 0px 5px 0px;
	font:bold 10px/10px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
}
#command-container a.button-rounded{
	-moz-border-radius: 2px;
	border-radius: 2px;
	display:block;
	font:bold 10px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	border:1px dashed #444444;
	margin:2px;
	float: left;
	background-color:#aaaaaa;
	padding: 3px 3px 3px 3px;
	text-decoration:none;
	color:#000000;
}
#command-container a.button-rounded:hover{
	-moz-border-radius: 2px;
	border-radius: 2px;
	display:block;
	font:bold 10px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	border:1px dashed #444444;
	margin:2px;
	float: left;
	background-color:#aaaaaa;
	padding: 3px 3px 3px 3px;
	text-decoration:underline;
	color:#000000;
}#command-container a.link{
	font:bold 10px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	float: left;
	padding: 3px 3px 3px 3px;
	text-decoration:none;
	color:#8B0000;
}
#command-container a.link2{
	font:bold 10px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	float: left;
	padding: 0px 0px 0px 0px;
	text-decoration:none;
	color:#8B0000;
}

#command-container a.link:hover{
	font:bold 10px/13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	float: left;
	padding: 3px 3px 3px 3px;
	text-decoration:underline;
	color:#8B0000;
}

#command-container input.full {
	width: 120px;
	float: left;
	margin: 2px 0 5px 0;
	border: 1px solid #CCC;
	padding: 0;
	padding: 3px 5px 3px 5px;
	color: #444444;
	background-color:transparent;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-color:#444444;
	font:bold 10px/10px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*------------------------------------------------left part end---------------------*/

/*------------------------------------------------right part start---------------------*/
#right{
	width:155px;
	height:300px;
	padding:0 0 0 0;
	margin:0 0 0 0;
	float: left;
}
/*------------------------------------------------right part end---------------------*/

/*------------------------------------------------body part end---------------------*/

/*------------------------------------------------footer start---------------------*/
#footer-main{
	width:100%;
	height:93px;
	background:url(images/footer_bg.gif) 0 0 repeat-x #191919;
	color:#B9B9B9;
	padding:63px 0 0 0;
	margin:13px 0 0 0;
	float:left;
}
#footer{
	width:778px;
	margin:0 auto;
	height:93px;
	position:relative;
}
#footer ul{
	width:380px;
	margin:0;
	padding:0;
	position:absolute;
	left:39px;
	top:17px;
}
#footer ul li{
	margin:0;
	float:left;
	font:bold 11px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#B9B9B9;
	background-color:#191919;
	background-image:none;
}
#footer ul li a{
	font:bold 11px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#B9B9B9;
	background-color:#191919;
	text-decoration:none;
	padding:0 10px 0 10px;
}
#footer ul li a:hover{
	color:#000;
	background-color:#CFA100;
}
#footer p.copyright{
	font:normal 11px/14px  "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#CFA100;
	background-color:#191919;
	position:absolute;
	left:49px;
	top:38px;
}
#footer a.xht{
	width:41px;
	height:11px;
	background:url(images/html_bg.gif) 0 0 no-repeat;
	position:absolute;
	left:607px;
	top:20px;
	margin:0;
}
#footer a.xht:hover{
	background:url(images/html_bg_hover.gif) 0 0 no-repeat;
}
#footer a.cs{
	width:41px;
	height:11px;
	background:url(images/css_bg.gif) 0 0 no-repeat;
	position:absolute;
	left:657px;
	top:20px;
	margin:0;
	float:left;
}

#footer a.cs:hover{
	background:url(images/css_bg_hover.gif) 0 0 no-repeat;
}
#footer p.design{
	display:block;
	width:162px;
	height:11px;
	padding:2px;
	position:absolute;
	left:46px;
	top:63px;
	font:bold 11px/11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#191919;
}
#footer p.design a.link{
	width:86px;
	font:bold 11px/11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#191919;
	text-decoration:none;
	text-transform:capitalize;
}
#footer p.design a.link:hover{
	color:#fff;
	background-color:#720000;
}
/*------------------------------------------------footer end---------------------*/
